body {
    background: linear-gradient(90deg,rgba(255,255,255,0) 0%, hsla(0, 0%, 100%, 0.61) 60%), url('../img/bg-body.jpg') no-repeat center center fixed;
    background-size: cover;
}

footer {
    padding: 35px 0;
}

.section1 {
    padding-top: 120px;
}

header {
    background: #fff;
    padding: 35px 0;
    position: sticky;
    top: -30px;
    width: 100%;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    color: #000;
}

.logo:hover {
    text-decoration: none;
    color: #000;
}

nav .signin {
    flex-basis: 20%;
    text-align: right;
}

nav input {
    flex-basis: 60%;
}

.news {
    margin-top: 25px;
}

h2 {
    font-size: 2.5rem;
}

.right-menu,
.left-menu {
    position: sticky;
    top: 110px;
    height: 100vh;
}
